@font-face {
    font-family: "ComicSans";
    src: url("ComicSansMS3.ttf");
}

:root {
    --corPrincipal: #90ee90;
    --corPrincipalBorda: #008000;
    --corFundo: #a9a9a9;
    --corTexto: #000000;
}

* {
    font-family: 'ComicSans', Arial;
}

hr {
    width: 100%;
    color: var(--corTexto);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    z-index: 999;
}

#loadingPerfil {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading>div,
#loadingPerfil>div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#loading>div>img,
#loadingPerfil>div>img {
    width: 10%;
    animation: spin 2s linear infinite
}

.bannerSite {
    width: 600px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.textoBemVindo {
    font-size: 4vh;
    margin-bottom: 5px;
}

.textoIntrodutorio {
    font-size: 2.5vh;
}

.divQuotes {
    width: 50%;
}

@media (max-width: 600px) {
    .bannerSite {
        width: 500px;
    }
    .divQuotes {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .bannerSite {
        width: 400px;
    }
    .divQuotes {
        width: 90%;
    }
}

@media (max-width: 350px) {
    .bannerSite {
        width: 300px;
    }
    .textoBemVindo {
        font-size: 3vh;
    }
}

.quotePgInicial {
    background-color: #a0a0a0;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

#mainContainer {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh
}

body {
    font-size: 17px;
    text-align: center;
    background-color: var(--corFundo);
    color: var(--corTexto);
    margin-bottom: 90px;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px
}

.barrafundo {
    background-color: var(--corPrincipal);
    overflow: hidden;
    border-top: 0.2rem solid var(--corPrincipalBorda);
    width: 100%;
    height: 90px;
    min-height: 30px;
    justify-content: center;
    position: fixed;
    z-index: 10;
    bottom: 0%
}

#formFooter>* {
    border: 0.2rem solid black;
    position: fixed;
    font-size: 20px;
}

#footer,
#msgarea,
#formFooter {
    overflow: hidden;
    touch-action: none;
}

#formFooter {
    display: flex;
    height: 100%;
    align-items: center;
}

.footerFlex {
    border: none !important;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#escrevermsg {
    min-height: 10px;
    width: 90%;
    background-color: #4e4e4e;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}

#enviarmsg {
    border: 0;
    right: 0;
    width: 60px;
    height: auto;
    border-radius: 10px;
    min-height: 20px;
    transition: 0.1s
}

#enviarmsg:hover {
    scale: 1.1;
    cursor: pointer;
    content: url("../Imagens/enviar2.gif");
}

#sticker {
    display: none;
    transition: 0.1s
}

#sticker:hover {
    scale: 1.1;
    cursor: pointer;
}

marquee {
    font-size: 50px;
}

main {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    flex: 1;
    margin-top: 20px;
    overflow-x: hidden
}

#msgarea {
    width: 100%;
    height: 100%;
}

.mensagem {
    text-align: left;
    display: none;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 20px;
    width: 100%;
}

::placeholder {
    color: #ffffff;
    opacity: 1;
}

#pfp {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 500px;
    background-color: #7c7b7b;
    cursor: pointer;
}

#nomenamensagem {
    color: white;
    padding: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

#conteudomensagem {
    max-width: 600px;
    margin-top: 10px;
    /*line-break:anywhere;*/
    word-wrap: break-word;
    text-align: justify;
}

#conteudomensagem>p {
    line-break: auto;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border: 2px solid #363636;
    border-left: 2px solid #363636;
    background-color: #7c7b7b;
}

::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 0px;
    border: 2px solid black;
    z-index: 0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8d8c8c;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    #pfp {
        width: 40px;
        height: 40px;
    }
}

button {
    transition: 0.1s;
}

button:hover {
    scale: 1.05;
    cursor: pointer
}